* {
	-color : #D4D4D4;
	-white : #efefef;
	-gray : #EFEFEF;
	-darkGray : #666666;
	-focusColor: -darkGray;
	-black : #444444dd;
	-abort : #e74c3c;
}
.pred{
	-fx-background-color: #FFDACA;
	-fx-border-color: #FFFFFF;
}
.av{
	-fx-background-color: #E1F9DF;
	-fx-border-color: #FFFFFF;
}
.lv{
	-fx-background-color: #CCDEFD;
	-fx-border-color: #FFFFFF;
}
.reservation{
	-fx-background-color: #FAF889;
	-fx-border-color: #FFFFFF;
}
.top{
	-fx-border-width: 2px 2px 0px 2px;
}
.mid{
	-fx-border-width: 0px 2px 0px 2px;
}
.bot{
	-fx-border-width: 0px 2px 2px 2px;
}
.notification{
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
	-fx-background-color: -darkGray;
	-fx-padding: 3px;
	-fx-border-color: -darkGray;
	-fx-border-width: 1px;
	-fx-text-fill: -white;
}
.scroll-pane{
    -fx-background-color: transparent;
}

.root{
	-fx-background-color : -white;
	-fx-fill-width : true;
	-fx-color : -color;
	-fx-fill-height : true;
	-fx-font-family: 'Segoe UI';
	/* remove the ugly focus shade */
	-fx-focus-color : transparent;
	-fx-faint-focus-color: transparent;
}

.menu-item{
   	-fx-text-fill: -gray
}
.menu-item:focused{
	-fx-color : -darkGray;
   -fx-background-color : -darkGray;
   -fx-focus-color : -focusColor;
   -fx-text-fill: -white
}
.menu-item:armed{
	-fx-color : -darkGray;
   -fx-background-color : -darkGray;
   -fx-focus-color : -focusColor;
   -fx-text-fill: -white
}
.menu-item:hover {
	-fx-color : -darkGray;
   -fx-background-color : -darkGray;
   -fx-focus-color : -focusColor;
   -fx-text-fill: -white
}

.pane {
	-fx-background-color: -white;
}
/*
 * **********
 * BUTTONS
 * **********
 * 
 */
.button {
	-fx-background-color : -gray,-gray,-gray,-gray;
}
.button:default{
	-fx-background-color : -color;
}
.button:cancel{
	-fx-background-color : -abort;
}

.button:hover {
	-fx-color : -darkGray;
   -fx-background-color : -darkGray;
   -fx-focus-color : -focusColor;
   -fx-text-fill: -white;
}
.button:focused{
   -fx-focus-color : -focusColor;
}

.button:armed {
    -fx-color: -white;
}

 /* tool-bar */

.tool-bar{
	-fx-background-color: #FFFFFF;
	-fx-border-width: 0px 0px 1px 0px;
	-fx-border-color: #000000;
	-fx-padding: 5px;
}

/* CHOICE BOX */

.choice-box {
	-fx-background-color : -gray,-gray,-gray,-gray;
   -fx-text-fill: -gray;
}
.choice-box:hover {
	-fx-color : -darkGray;
   -fx-background-color : -darkGray;
   -fx-focus-color : -focusColor;
   -fx-text-fill: -white;
}
.choice-box:focused{
   -fx-focus-color : -focusColor;
}

// Text color of non-focused items in the list
.choice-box .menu-item > .label { -fx-text-fill: #000000; }
// Text color of focused item in the list
.choice-box .menu-item:focused > .label { -fx-text-fill: -white; }

.choice-box .arrow {
-fx-background-color: -darkGray;
}

.choice-box:hover .arrow {
-fx-background-color: -white;
}
.toggle-button{
	-fx-background-color : -gray;
}

.toggle-button:selected{
	-fx-background-color : -darkGray;
}

 /*
 * **********
 * DATE PICKER
 * **********
 * 
 */
.date-picker{
	-fx-background-color : -white,-gray,gray;
}

.date-picker>*.arrow-button{
	-fx-background-color : -white,-gray,-gray;
}
 
 .date-picker>*.arrow-button>*.arrow{
	-fx-background-color : -darkGray, -black;
}


/*
 * **********
 * Checkbox
 * **********
 * 
 */
 .check-box>*.box{
	 -fx-background-color : -gray;
 }
 
 .check-box:selected>*.box>*.mark{
	 -fx-background-color : -black;
 }
.check-box:indeterminate>*.box>*.mark{
	 -fx-background-color : -black;
 }
 
 
 
/*
 * **********
 * Text fields / inputs
 * **********
 * 
 */
.text-field{
	-fx-highlight-fill : -color;
	-fx-highlight-text-fill : -white;
}
.text-field:focused{
   -fx-focus-color : -focusColor;
}

.text-area{
	-fx-highlight-fill : -color;
	-fx-highlight-text-fill : -white;
}
 
.spinner>*.increment-arrow-button{
	-fx-background-color : -gray;
}

.spinner>*.decrement-arrow-button{
	-fx-background-color : -gray;
}

/*
 * **********
 * Table
 * **********
 * 
 */
.table-view:row-selection{
	-fx-background-color : -gray;
}

.table-view:row-selection>*.column-header-background{
	-fx-background-color : -white;
}

.table-view>*.column-resize-line{
	-fx-background-color : -black;
}

.table-view>*.column-header-background>*.nested-column-header>*.table-column{
	-fx-background-color : -darkGray, -white;
}

.table-view>*.column-header-background>*.filler{
	-fx-background-color : -darkGray, -gray;
}

.table-view>*.column-header-background>*.show-hide-columns-button{
	-fx-background-color : -gray;
}


.tree-table-view:row-selection{
	-fx-background-color : -gray;
}

.tree-table-view:row-selection>*.column-header-background{
	-fx-background-color : -white;
}

.tree-table-view>*.column-resize-line{
	-fx-background-color : -black;
}

.tree-table-view>*.column-header-background>*.nested-column-header>*.table-column{
	-fx-background-color : -darkGray, -white;
}

.tree-table-view>*.column-header-background>*.filler{
	-fx-background-color : -darkGray, -gray;
}

.tree-table-view>*.column-header-background>*.show-hide-columns-button{
	-fx-background-color : -gray;
}


/*
 * **********
 * Scroll pane
 * **********
 * 
 */
.scroll-pane>*.scroll-bar{
	-fx-background-color : -gray;
}

.scroll-pane>*.scroll-bar>*.thumb{
	-fx-background-color : #999999;
}